<mat-card layout-padding>
  <p>
    Welcome to the South Valley Annual Goods and Services Auction
    Fundraiser! Our event is Saturday, November 11th, 2017, precisely
    at 6:00pm.
  </p>
  <p>
    We’ll be taking donations through Sunday, November 5th at midnight.
    Fill in the area below to donate an item and hit the “Donate
    Item” button at the end. If you have more than one item,
    fill out the page for each item. PLEASE write it like you’re
    trying to interest the reader in buying your item. (Required
    fields have an asterisk.)
  </p>
  <p>
    If you have questions, contact Marilyn Smith at smith3390@comcast.net.
  </p>
  <p>
    NOTE--If any of the input fields turn red, it might be too long
    or empty! Make sure to fix it, otherwise the form won't let
    you submit.
  </p>
  <p>
    Thank you for making this year’s auction GREAT!
  </p>
  <button mat-raised-button color="primary" (click)="openDonationSuggestions()">Donation Ideas</button>
</mat-card>
<mat-card layout-padding fxLayout="column">
  <h2>Who is donating this item?</h2>
  Enter the name (or names!) of the person or group donating this
  item (you can change it from the autofilled name):
  <div>
    <mat-input-container>
      <input placeholder="Donor First Name" matInput type="text" [(ngModel)]="donor.firstname"
        name="donorfirstname" required>
    </mat-input-container>
  </div>
  <div>
    <mat-input-container>
      <input placeholder="Donor Last Name" matInput type="text" [(ngModel)]="donor.lastname"
        name="donorlastname" required>
    </mat-input-container>
  </div>

  <div>
    What phone number should people call about this item? (Again,
    you can change from the autofill.)
  </div>
  <mat-input-container>
    <input placeholder="Phone Number" matInput type="tel" [ngModel]="donor.phonenumber | phoneNumber"
      (ngModelChange)="phoneNumberChange($event)" name="donorphonenumber"
      required>
  </mat-input-container>
  <div>
    What email should people use to contact the donor(s)?
  </div>
  <mat-input-container>
    <input placeholder="Email Address" matInput type="text" name="email"
      ng-model="donor.email" required>
  </mat-input-container>
  <div>
    Give us a photo of you, or the donating group! (Again, you can
    change it from the image from your original registration.)
  </div>


  <!--
  <input id="uploadfileid" class="ng-hide" type="file" ngf-select="upload($files)"
    ngf-change="upload($files)" ng-model="picFile" name="file"
    ngf-accept="'image/*'" ngf-resize="{width: 500, height: 500}">
  <label class="mat-button mat-primary mat-raised" for="uploadfileid">Choose Picture</label>

  <div>
    <div ng-show="donor.photoid">
      <img ng-src="https://svuus-photos.s3.amazonaws.com/{{donor.photoid}}"
        style="width:200px"></img>
    </div>
  </div>
-->
</mat-card>


<mat-card layout-padding fxLayout="column">
  <h3>
    <b>I'm offering a...</b>
  </h3>
  <br>
  <div id="itemnamecharacters">
    Please keep this succinct.
    <br> Maximum {{itemMaxLength}} characters.
  </div>
  <mat-input-container class="standard-form-width">
    <input placeholder="Item Name" matInput type="text" [(ngModel)]="item.name"
      name="itemname" [maxlength]="itemMaxLength" size="50" required>
    <mat-hint align="end">{{item.name.length}} / {{itemMaxLength}}</mat-hint>
  </mat-input-container>
  <div>
    Here's a little more information about it.
    <br> What is great about this item? What would make someone want
    to buy it? Write like you're trying to sell it!
    <br> Maximum {{descriptionMaxLength}} characters.
  </div>
  <mat-input-container class="standard-form-width">
    <textarea placeholder="Description" matInput [(ngModel)]="item.description"
      name="itemdescription" [maxlength]="descriptionMaxLength"
      mdTextareaAutosize required></textarea>
    <mat-hint align="end">{{item.description.length}} / {{descriptionMaxLength}}</mat-hint>
  </mat-input-container>
  <div>
    What is this item worth? Your best guess is fine.
  </div>
  <div layout="row" layout-align="start center">
    <mat-input-container>
      <input placeholder="Fair Market Value" matInput [(ngModel)]="item.value"
        name="itemvalue" min="0" required type="number">
      <span mdPrefix>$</span>
      <span mdSuffix>.00</span>
    </mat-input-container>
  </div>
  I would hate to see my item go for less than this amount.
  <div layout="row" layout-align="start center">
    <mat-input-container>
      <input placeholder="Minimum Value" matInput type="number" [(ngModel)]="item.minvalue"
        name="itemminvalue" min="0" required>
      <span mdPrefix>$</span>
      <span mdSuffix>.00</span>
    </mat-input-container>
  </div>

  <div>
    <b>My item falls in the following category: (required)</b>
  </div>
  <mat-radio-group [(ngModel)]="item.category" name="itemcategory"
    required>
    <mat-radio-button value="event">Event (like a dinner party, poker night, a class, anything
      with multiple spots that happens later.)</mat-radio-button>
    <mat-radio-button value="object">Object or service (a thing that can sit on the table, a gift
      certificate, haircut, computer consulting, photo shoot.
      It could be later, but it's sold as a single thing.)</mat-radio-button>
  </mat-radio-group>

  <div *ngIf="item.category == 'object'" fxLayout="column">
    How many items are you selling?
    <br> Example: Three quilts being sold separately would have "3"
    in this field. However, if you are selling a group of items
    together (a basket of jams, or a set of books, put "1").
    <br>
    <mat-input-container>
      <input placeholder="Quantity" matInput type="number" ng-model="item.quantity"
        name="quantity" min="0" required>
    </mat-input-container>
  </div>

  <div *ngIf="item.category == 'event'">
    How many spots will your event have?
    <br>
    <mat-input-container>
      <input placeholder="Number of Spots" matInput type="number" ng-model="item.quantity"
        min="0" required>
    </mat-input-container>
  </div>

  <div *ngIf="item.category == 'event'">
    What is the date of the event you will host? We highly recommend
    choosing and advertising a specific date.
    <br>
    <!--
    <mat-datepicker [(ngModel)]="item.eventdate" placeholder="Event Date"
      aria-label="Date Picker" mat-min-date="eventMinDate" mat-max-date="eventMaxDate">
    </mat-datepicker>
  -->
    <div>
      If you absolutely can’t pick an exact date, enter the timeframe
      notes you know at this point, like “A Saturday in July”
      <br>
      <mat-input-container>
        <label>Time Notes</label>
        <input type="text" matInput [(ngModel)]="item.eventtypedtime">
      </mat-input-container>
    </div>
  </div>

  <!--
  <div>
    Extra Pricing Notes (Not required)
    <mat-input-container>
      <label></label>
    </mat-input-container>
  </div>
  -->

  <br>
  <div ng-if="item.category == 'event'">
    <div>
      Choose one of these policies for kids.
    </div>
    <br>
    <div>
      <mat-radio-group [(ngModel)]="item.policy" name="itempolicy" required>
        <div *ngFor="let policy of policies">
          <mat-radio-button name="policy" [value]="policy" aria-label="Decision">&nbsp;
            {{policy | translate}}
          </mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
  </div>
  <div>
    Is there anything else we should know about how we should price
    this?
  </div>
  <div>
    <mat-input-container>
      <label>Pricing Notes</label>
      <textarea type="text" matInput [(ngModel)]="item.pricingnotes"
        cols="150"></textarea>
    </mat-input-container>
  </div>

  <div *ngIf="item.category == 'object'">
    If your donated item does not sell, it will be donated to a charitable
    organization. If you prefer to keep it if it does not sell,
    you are responsible for taking it at the end of the auction.
    If you will not be attending the auction, please ask a friend
    to retrieve it for you.
    <mat-radio-group ng-model="item.disclaimer" name="disclaimer"
      required>
      <mat-radio-button type="radio" value="yes"> I agree</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-card>