<mat-toolbar color="primary">
  <a class="big-font no-underline font-all-white" routerLink="/"
    layout-padding>
    SVUUS Auction
  </a>
  <button routerLink="buytickets" color="primary" mat-raised-button>Buy Tickets</button>
  <button routerLink="donateitem" color="primary" mat-raised-button>Donate Item</button>
  <div *ngIf="!isLoggedIn()">
    <button routerLink="session/login" mat-raised-button color="primary"
      routerLinkActive="active-link">Log In</button>
    <button routerLink="session/register" mat-raised-button color="primary"
      routerLinkActive="active-link">Register</button>
  </div>
  <div *ngIf="isLoggedIn()">
    <button routerLink="myauction/home" color="primary" mat-raised-button>My Auction</button>
    <button routerLink="admin/home" color="primary" mat-raised-button>Admin Home</button>
    <button routerLink="session/logout" color="primary" mat-raised-button>Logout</button>
  </div>

  <div fxFlex></div>
  <div class="small-font font-all-white">Need help?
  </div>
  <div layout-padding><a class="small-font font-all-white no-underline" href="mailto:kristen.thelen@gmail.com">kristen.thelen@gmail.com</a></div>
  <!--
  <div>
    <form (ngSubmit)="search()">
      <div fxLayout="row" layout-padding>
        <mat-toolbar>
          <mat-form-field>
            <span mat-prefix>
        <button mat-icon-button type="submit" ><mat-icon>search</mat-icon></button>
    </span>
    <input matInput placeholder="What do you need?" [(ngModel)]="searchTerm"
      size="50" name="searchTerm">
    </mat-form-field>
</mat-toolbar>
</div>
</form>
</div>

<div fxFlex></div>
<div *ngIf="!isLoggedIn()" fxLayout="row">
  <div>
    <button routerLink="contact" mat-raised-button color="primary">Contact</button>
  </div>
  <div>
    <button routerLink="session/login" mat-raised-button color="primary">Login</button>
  </div>
  <div>
    <button routerLink="session/register" mat-raised-button color="primary">Register</button>
  </div>
</div>
<div *ngIf="isLoggedIn()" fxLayout="row">
  <div>
    <button mat-icon-button [mdMenuTriggerFor]="notificationsMenu">
      <mat-icon>
        notifications
      </mat-icon>
      </button>
    <mat-menu #notificationsMenu="mdMenu">
      <div>
        Mary Legal wrote: XXX
      </div>
      <div>
        Requisition #123 approved by Tammy Manager
      </div>
    </mat-menu>
  </div>
  <div>
    <button mat-icon-button [mdMenuTriggerFor]="menu">
      <mat-icon>
        menu
      </mat-icon>
      </button>
    <mat-menu #menu="mdMenu">
      <button mat-menu-item routerLink="profile/settings"> Settings </button>
      <button mat-menu-item routerLink="profile/profile"> Profile </button>
      <button mat-menu-item routerLink="profile/manageApprovers"> Manage Approvers </button>
      <button mat-menu-item routerLink="profile/inviteFriend"> Invite A Friend </button>
      <button mat-menu-item routerLink="/contact"> Help </button>
      <button mat-menu-item (click)="logout()"> Sign Out </button>
    </mat-menu>
  </div>
</div>
-->
</mat-toolbar>