<div>
  <div fxLayout="row">
    <div fxFlex="66%">
      <div fxLayout="column">
        <div class="background-color-accent">
          <h2 layout-padding>
            Enter info here for your FIRST ticket. If you need more than
            one ticket, click the blue “Add” button below, and
            scroll down to enter the additional info.
          </h2>
        </div>
        <div *ngIf="!isLoggedIn()">
          <div class="background-color-warn">
            <h2 layout-padding>
              It seems like you are not logged in. We will email you the list
              of items/events that you buy at the auction, but
              that will be the only way to find out what you
              buy later. If you want to be able to check up through
              the year on the things you bought, please create
              an account.
            </h2>
          </div>
        </div>
        <div *ngFor="let ticket of tickets; let in=index">
          <md-card layout-padding>
            <div fxLayout="row">
              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container>
                  <input mdInput [(ngModel)]="ticket.firstname" placeholder="First Name"
                    name="ticket-first-name-{{in}}">
                </md-input-container>
                &nbsp;
                <md-input-container>
                  <input mdInput [(ngModel)]="ticket.lastname" placeholder="Last Name"
                    name="ticket-last-name-{{in}}">
                </md-input-container>
              </div>
              <div fxFlex></div>
              <md-card-actions>
                <button class="md-24" md-icon-button (click)="removeTicket(in)">
                  <md-icon>clear</md-icon>
                </button>
              </md-card-actions>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
              <md-input-container>
                <input mdInput [(ngModel)]="ticket.email" placeholder="Contact email for this ticketholder"
                  name="ticket-email-{{in}}">
              </md-input-container>
              &nbsp;
              <md-input-container>
                <input mdInput [(ngModel)]="ticket.phone" placeholder="Contact phone number"
                  name="ticket-phone-{{in}}">
              </md-input-container>
            </div>
            <div layout-padding>
              <label>Age Category</label> {{ticket.agegroup}}
              <md-radio-group [(ngModel)]="ticket.agegroup" (ngModelChange)="computeOrderDetails()"
                name="ticket-agecat-{{in}}" required fxLayout="column">
                <md-radio-button value="ADULT_TICKET"><b>Adult</b>-Upstairs food, bid card, $16</md-radio-button>
                <md-radio-button value="HIGHSCHOOL_TICKET"><b>High School Class</b>-Upstairs food, no bid
                  card, $12</md-radio-button>
                <md-radio-button value="JUNIORHIGH_TICKET"><b>Junior High Class</b>—Downstairs food, no
                  bid card, $5</md-radio-button>
                <md-radio-button value="CHILD_TICKET"><b>Elementary Classes</b>—Age five through 5th
                  grade, downstairs food, special activities,
                  $5
                </md-radio-button>
                <md-radio-button value="PREK_TICKET"><b>Pre-K Classes</b>—Under Age 5, Snacks, bring
                  your own food, Childcare will be provided,
                  $0
                </md-radio-button>
              </md-radio-group>
            </div>
            <div layout-padding>
              <label>Dietary Restrictions</label>
              <md-radio-group [(ngModel)]="ticket.foodRes" fxLayout="column"
                name="ticket-gluten-{{in}}">
                <md-radio-button value="NONE_FOOD">Regular</md-radio-button>
                <md-radio-button value="VEGETARIAN_FOOD">Vegetarian</md-radio-button>
                <md-radio-button value="VEGAN">Vegan</md-radio-button>
              </md-radio-group>
            </div>
          </md-card>
        </div>
        <div>
          <button md-raised-button color="primary" (click)="addTicket()">Add Ticket</button>
        </div>
      </div>
      <!-- column -->
    </div>
    <!-- flex -->

    <div>
      <md-card layout-padding>
        <div>Order Summary</div>

        <div>
          <span>{{numAdultTickets}}</span>
          <span>Adult Tickets</span>
          <span>x $16 =</span>
          <span>${{numAdultTickets*16}}</span>
        </div>

        <div>
          <span>{{numHighSchoolTickets}}</span>
          <span>High School Tickets</span>
          <span>x $12 =</span>
          <span>${{numHighSchoolTickets*12}}</span>
        </div>

        <div>
          <span>{{numJuniorHighTickets}}</span>
          <span>Junior High Tickets</span>
          <span>x $5 =</span>
          <span>${{numJuniorHighTickets*5}}</span>
        </div>


        <div>
          <span>{{numChildTickets}}</span>
          <span>Child Tickets</span>
          <span>x $5 =</span>
          <span>${{numChildTickets*5}}</span>
        </div>

        <div>
          <span>{{numPrekTickets}}</span>
          <span>Pre-K Tickets</span>
          <span>x $0 =</span>
          <span>${{numPrekTickets*0}}</span>
        </div>


        <div>
          Would you like to donate to the bar fund?
          <br>
          <md-input-container>
            <input mdInput type="string" [(ngModel)]="barDonation" name="bardonation" type="number"
              (ngModelChange)="computeOrderDetails()" placeholder="Bar donation (optional)"
              min="0">
            <span mdPrefix>$</span>
            <span mdSuffix>.00</span>
          </md-input-container>
          <button md-icon-button aria-label="info" (ngClick)="showBarHelp($event)">
            <md-icon>
              info
            </md-icon>
          </button>
        </div>
        <div>
          <b>Total: {{total | currency}}</b>
        </div>

        <div>
          <button md-raised-button (ngClick)="onClickBuy()" color="primary">
            Purchase Tickets
          </button>
          <button md-raised-button ng-click="addTicket()" color="primary">Add additional ticket to order</button>
        </div>
        <!--      
      -->

      </md-card>
      <!--
      <md-toolbar class="md-warn" layout-padding flex style="display: inline-block">
        <div class="md-toolbar-tools" flex style="display: inline-block">
          A few days after the auction completes, we will charge the card
          you enter here for the items bought.
        </div>
      </md-toolbar>
    -->
    </div>
  </div>
  <!-- row -->
</div>