<div fxLayout="row">
  <button routerLink="/admin/registered_people" color="primary" mat-raised-button>View Registered People</button>
  <button routerLink="/admin/modify_donated_items" color="primary" mat-raised-button>Modify Donated Items</button>
  <button routerLink="/admin/insert_bids" color="primary" mat-raised-button>Insert Bids</button>
  <button routerLink="/admin/add_admin" color="primary" mat-raised-button>Add Admin</button>
  <button routerLink="/admin/silent_bid_sheets" color="primary" mat-raised-button>Silent Bid Sheets</button>
  <button routerLink="/admin/live_catalog" color="primary" mat-raised-button>Live Catalog</button>
  <button routerLink="/admin/live_print" color="primary" mat-raised-button>Live Print</button>
  <button routerLink="/admin/fixed_price_sheets" color="primary" mat-raised-button>Fixed Price Sheets</button>
  <button routerLink="/admin/charge_for_items" color="primary" mat-raised-button>Charge For Items</button>
  <button routerLink="/admin/bid_cards" color="primary" mat-raised-button>Bid Cards</button>
</div>
