<div layout-padding>
  <h1 layout="center">SVUUS Auction</h1>

  <div layout="row">
    <div>
      <p>
        Welcome to the SVUUS Auction Website!  Thank you for participating.  It should be a great party!
      </p>
      <p>
        To get started on the site, click the “Register” button above to create an account.  Have a photo of yourself and/or your family ready to upload.  This is useful so that if you donate an item, others can see who you are and who donated it. Try to use a closeup photo of faces.
      </p>
      <p>
        Second, buy tickets for you and your family members who are attending.
      </p>
      <p>
        Note #1:  We have caregivers this year for the youngest ones. Bring your babies or find a babysitter. But make sure to register them on "Buy Tickets" so that we have a good count (don't worry, they don't cost anything).
      </p>
      <p>
        Note #2:  The credit card you use to buy your tickets will be used to pay your final invoice after the auction.
      </p>
      <p>

        Third, donate items to auction.  If you need suggestions, you can click below.
      </p>

      <div>
        <button color="primary" (click)="showIdeas($event)" class='md-primary md-raised' mat-raised-button>Donation Ideas</button>
      </div>

      <p>
        If you have not been to one of our auctions before, there’s a “Donation Ideas” button on the donation page that’ll get you started.
      </p>
      <p>
        The Auction will start promptly at 6:00pm on Saturday, November 11th.  There are no physical tickets.  Just show up and we’ll give you your bid card.
      </p>
      <p>
        Questions?  Email kristen.thelen@gmail.com. Thanks!
      </p>
    </div>
  </div>
</div>
