@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// Plus imports for other components in your app.


/* You can add global styles to this file, and also import other style files */

.app {
	  margin: 0px;
  }



  .font-white {
	    opacity: 0.8;
	      color: black
      }

      .font-all-white {
	        color:white;
	}


	.error-text {
		  color: red;
	  }


	  .app {
		      font-family: Roboto,"Helvetica Neue",sans-serif;
	      }

/*
	      .md-primary-button {
//		          color: md-color($md-foreground, text);
			      background-color: md-color($primary, 700, 0.7) !important; // Use a specific hue and opacity
		      }

		      .active-link {
//			          color: md-color($md-foreground, text);
				      background-color: md-color($accent, 700, 0.7) !important; // Use a specific hue and opacity
			      }

			      .md-accent-button {
//				          color: md-color($md-foreground, text);
					      background-color: md-color($accent, 700, 0.7) !important; // Use a specific hue and opacity
				      }


				      .md-primary {
					          background-color: md-color($primary, 900, 1); // Use a specific hue and opacity
					  }

*/

					  [layout-padding] {
						      margin: 7px;
					      }

					      .md-icon-md {
						        width: 36px;
							  height: 36px;
							    line-height: 36px;
						    }


						    .md-icon-lg {
							      width: 48px;
							        height: 48px;
								  line-height: 48px;
							  }

							  // Include theme styles for core and each component used in your app.
							  // Alternatively, you can import and @include the theme mixins for each component
							  // that you are using.
//							  @include angular-material-theme($md-theme);

